<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static "baseStyle.css" %}">
</head>
<body>
    <header>  
        <div >
            <a href="index.html"><button id="homepageTitle">WSA</button></a>
        </div>

        <ul>
           <a><button class="menuButton"><li>About</li></button></a>
           <a href="application.html"><button class="menuButton"><li>Try It</li></button></a>
           <a><button class="menuButton"><li>FAQ</li></button></a> 
           <a><button class="menuButton"><li>Etc</li></button></a> 
        </ul>
    </header>
    <main>
       ########################Program#########################
    </main>
    <footer>
        <p id="cr">WSA Processing 2020</p>
        <p id="credit">Authors: Jordan Kiel, Nicholas Patel, Liam Tyler, Kyle Zielinski</p>
    </footer>
</body>
</html>