<!DOCTYPE html>
<html lang="en">
<head>
    {%  load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static "baseStyle.css" %}">
    <title>WSA</title>
</head>
<body>
    <header>  
        <div >
            <button id="homepageTitle">WSA</button>
        </div>

        <ul>
            <button class="menuButton"><li>About</li></button> 
            <button class="menuButton"><li>Try It</li></button> 
            <button class="menuButton"><li>FAQ</li></button> 
            <button class="menuButton"><li>Etc</li></button> 
        </ul>
    </header>
    <main>
        <section id="intro">
             <p id="sum">
            Welcome to the Wegman's Shopping Assistant! Our application uses the Wegman's API
            and Python Django libraries to create quick and easy to use interface that maps the user's desired gorcery 
            lists by store location, isles, and price. Using this tool, curb side delivery workers can find out the most efficient
            way to collect and deliver the desired items to esteemed Wegman's customers. 
            </p>
            <button id="startButton">Get Started!</button>
        </section>
        <section id="content">
            <div class="info">
                Features: <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ut exercitationem consectetur in vel, qui recusandae? Exercitationem impedit et distinctio labore autem explicabo ea repellat esse molestias nulla. Dolorem, vel?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni reprehenderit labore quis quos magnam libero saepe quaerat modi maxime laboriosam voluptas aliquid esse perspiciatis veniam, architecto minus amet necessitatibus voluptate, ut officia, cum blanditiis mollitia. Aut, illo hic aliquam quis odit magni veritatis, iusto saepe, fugit debitis nihil. Quaerat, voluptate!
            </div>
            <div class="info">
                Desired Effect: <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque non eveniet nam impedit eligendi dolor itaque consequuntur voluptatem officia sed velit doloremque libero iste recusandae, ipsum sunt blanditiis laudantium ullam.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero numquam odit dolore, veritatis commodi reiciendis ipsa iste blanditiis omnis fuga officia sint eligendi repellendus consequatur beatae cum! Accusamus dolor laudantium debitis soluta animi nobis adipisci in voluptate nesciunt, sunt quidem velit recusandae quasi fugit autem sint architecto. Fugit, qui veniam.
            </div>
        </section>
    </main>
    <footer>
        WSA Processing 
    </footer>
</body>
</html>